Data_connecting.ipynb
Data_connecting_test.ipynb
Data_preprocessing.ipynb
Inference.ipynb
Modelling.ipynb
api_request.py
catboost_info
data
inference.py
inter_files
/final_files/X_test.csv
/final_files/X_train.csv
/final_files/X_valid.csv
/final_files/cat_features.pickle
/final_files/final_features.pickle
/final_files/y_test.csv
/final_files/y_valid.csv
/final_files/y_train.csv
